:host {
  padding: 0 !important;
}

.title {
  margin: 0;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  .chart {
    width: 50%;
    height: 100%;
  }
}

.mat {
  padding: 15px;
}
