<form action="" [formGroup]="listForm">
  <div *ngIf="data.flag === 'list' ; then listTask else flagTask">
  </div>
  <ng-template #listTask>
    <div class="title">update list</div>
  </ng-template>
  <ng-template #flagTask>
    <div class="title">update task</div>
  </ng-template>
  <div class="field is-grouped">
    <p class="control is-expanded">
      <input type="text" formControlName=title placeholder="Enter list title"
        class="input has-background-light is-normal" />
    </p>
    <p class="control">
      <button class="button is-success has-text-white" [disabled]="!listForm.valid" type="submit"
        (click)="onSubmit()">Update</button>
    </p>
  </div>

</form>
