:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-box {
    height: 150px;
    width: 400px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .title {
    letter-spacing: 1.5px;
    flex-grow: 1;
    margin: 0 !important;
  }

  .redirect {
    font-size: 25px;
    letter-spacing: 1.5px;

    a:hover {
      color: rgb(98, 110, 109);
    }
  }
}
