<div class="modal-box has-background-light">
  <h1 class="title">
    {{'VARIOUS.CREATE.NEWLIST'|translate|titlecase}}
  </h1>
  <form [formGroup]="listForm" (ngSubmit)="createList()">

    <div class="field is-grouped">
      <p class="control is-expanded">
        <input type="text" formControlName=title placeholder="{{'VARIOUS.NEWLIST'|translate|titlecase}}"
          class="input has-background-light is-normal" />
      </p>
      <p class="control">
        <input type="submit" [disabled]="!listForm.valid" class="button is-primary is-normal has-text-white"
          value="{{'VARIOUS.CREATE'|translate|titlecase}}">
      </p>
    </div>
  </form>

  <Button class="button is-danger back is-small" routerLink="../lists">{{'VARIOUS.BACK'|translate|titlecase}}</Button>
</div>
