<div class="signup-box has-background-white">
  <h1 class="title">{{"AUTH.SIGNUP.TITLE"|translate|uppercase}}</h1>
  <form (ngSubmit)="signUpSubmit()" [formGroup]=signUpForm>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input formControlName=email class="input has-background-light " type="email"
          placeholder="{{'VARIOUS.EMAIL' |translate |titlecase}}">

        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input formControlName=password class="input has-background-light " type="password"
          placeholder="{{'VARIOUS.PASSWORD' |translate |titlecase}}">

        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end;">
      <div class="control ">
        <button type="submit" [disabled]="!signUpForm.valid" class="button is-success has-text-white">
          {{"AUTH.SIGNUP.TITLE"|translate|uppercase}}
        </button>
      </div>
    </div>
    <p style="text-align: center; margin-top: 10px;"> {{"VARIOUS.!NOTACCOUNT"|translate|uppercase}}
      <a routerLink='../login'> {{"AUTH.LOGIN.TITLE"|translate|uppercase}} </a>
    </p>
  </form>
</div>
