<div #sidebar class="sidebar">
  <div class="sidebar-items">
    <div class="sidebar-item" (click)="toggleSideBar()">
      <i class="fa fa-bars"></i>
    </div>
    <a routerLink="/home/task/lists" routerLinkActive="selected" class="sidebar-item">
      <i class="fa fa-clipboard-list" aria-hidden="true"></i>
      <span class="menu-text">Tasks</span>
    </a>
    <a routerLink="#" routerLinkActive="selected" class="sidebar-item">
      <i class="fa fa-money-check-alt" aria-hidden="true"></i>
      <span class="menu-text">Budget</span>
    </a>
  </div>
</div>
<div class="body">
  <router-outlet></router-outlet>
  <p>Home ng-component</p>
</div>
